body {
  color: white;
  /* background-image: url("pimage.jpg"); */
  background-color: rgb(88, 116, 207);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

h1 {
  text-align: center;
  padding-top: 2rem;
}

p {
  font-style: italic;
  text-align: center;
}

form {
  background-color: rgba(119, 79, 172, 0.4);
  width: 60vw;
  margin: 0 auto;
}

fieldset {
  padding-bottom: 0.5rem;
}

label {
  display: block;
  margin: 0.8rem 0;
}

/* fieldset:first-of-type {
    display:block;
    width: 100%
  } */

input[type="text"] {
  display: block;
  width: 100%;
}
input[type="email"] {
  display: block;
  width: 100%;
}
input[type="number"] {
  display: block;
  width: 100%;
}

#dropdown {
  width: 100%;
  /* padding-top: 0.5rem; */
}

textarea {
  width: 100%;
  display: block;
  height: 100px;
}

button {
  width: 100%;
  display: block;
  background-color: rgb(60, 255, 100);
  border: none;
  height: 10%;
  color: white;
  font-size: 1.5rem;
}

div {
  padding-top: 0.5rem;
}

span {
  font-style: italic;
  font-size: 80%;
}
